<li class="view-item">
	<div class="item-cont" data-entity-id="<%= item.note_id %>">
		<p class="item-title">
			<% if(item.note_type){ %>
			<% if(item.note_type === "mk"){ %>
			<span class="due-if mk-icon">&#xe66c;</span>	
			<% }else{ %>
			<span class="due-if note-icon">&#xe67a;</span>
			<% } %>
			<% } %>		
			<span class="btn-text"><%= item.note_name %></span>
			<input class="rename-cont" type="text" value="<%= item.note_name %>">
		</p>	
		<p class="note-abstract">
		</p>
		<p class="note-msg">
			<span class="time-stamp"><%= item.modify_date %></span>
			<span class="note-size"><%= item.note_size %></span>
		</p>
	</div>	
</li>